node_modules
build
dist
coverage
.VSCodeCounter
.DS_Store
.clang-format
CMakeUserPresets.json

# Generated Tailwind CSS
packages/chili-web/src/output.css

# Environment variables
.env
.env.local
.env.*.local
